<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>
</head>
<body>
    <p> Digite para complementar o conteúdo dentro da caixa:</p>
    <div ng-app="myApp" ng-controller="myCtrl">
 
        Primeiro Nome:<input type="text" ng-model="prim_Nome"><br>
        Sobre Nome: <input type="text" ng-model="sobre_Nome"><br>
        <br>
        Nome Completo: {{prim_Nome + " " + sobre_Nome}}

    </div>

    <script>
        var app = angular.module("myApp",[]);
        app.controller("myCtrl", function($scope){
            $scope.prim_Nome = "Jullia";
            $scope.sobre_Nome = "Kathelyn"
        });
    </script>
    
</body>
</html>